# git will not consider the following files:
*.o
DYJets/RooUnfold-1.1.1/tmp
*.so
*.d
*.log
tmp*.cc
*.swp
*.DS_Store

# git will ignore the nohup output files
.nfs*

# git will not consider the following directory:

# ignores input data files
Data_Z_5311
Data_Z_5311_New
DataW
DataTTbarEMu

# ignores output root files
DYJets/HistoFiles

# ignores pngs and pdf output files
DYJets/PNGFiles
