Makefile
# git will ignore the executable files:
runZJets
runRecoComparison
runFinalUnfold
runUnfoldingZJets
runCombination
dispatcher

# git will not consider the following files:
*.root
*.o
DYJets/RooUnfold-1.1.1/libRooUnfold.rootmap
DYJets/RooUnfold-1.1.1/tmp
*.so
*.d
*.log
tmp*.cc
*.swp
*.DS_Store
copyToPNFS.sh

# git will ignore the nohup output files
.nfs*
# git will ignore the config files
*.cfg

# git will not consider the following directory:

# ignores input data files
Data_Z_5311
Data_Z_5311_New
DataW
DataTTbarEMu

# ignores output root files
DYJets/HistoFiles
DYJets/HistoFilesTest
DYJets/HistoFilesNew

# ignores pngs and pdf output files
DYJets/PNGFiles
DYJets/MyPNGFiles
DYJets/PNGFilesTest
DYJets/PNGFilesNew
